div.ofcourse-login-bg
  div.ofcourse-login
    !{JADE['xl-logo']()}
    div.ofcourse-bar-break
    !{JADE['fblogin']()}

fieldset.pure-group.ofcourse-hidden
  - each item in locals
    //input.pure-input-1(id='#{item.id}' name='#{item.id}' type='text' placeholder='#{item.desc}')
    br
    div
      form(action='/v1/auth/login',method='post')
        div(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='email') email
               input(id='email',type='text',value='',placeholder='email',name='email')
        //div#passworddiv(data-role='fieldcontain')
        //  fieldset(data-role='controlgroup')
        //     label(for='password') password
        //       input(id='password',type='password',value='',placeholder='password',name='password')
        div(data-role='fieldcontain')   
          input(type='submit',value='Log In',data-transition='fade', data-theme='c')
    //button(type='submit' class=['pure-button pure-input-1 pure-button-primary'] onclick="workspace.navigate('home',{trigger:true})") Login
    h2 -OR-
    button(type='button' class='pure-button pure-input-1 pure-button-primary' onclick="workspace.navigate('register',{trigger:true})") Register
